# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/
.env

# Node
node_modules/
dist/
.env.local

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Models (Generated at build time)
backend/models/
"backend/models/" 
